<tr>
    <td>{{name}}</td>
    <td>{{address}}</td>
    <td style="white-space: nowrap">{{productCode}}</td>
    <td>{{productName}}</td>
    <td style="white-space: nowrap; text-align: right">{{productQty}}</td>
    <td style="white-space: nowrap; text-align: right">{{productPrice}}</td>
    <td style="white-space: nowrap; text-align: right">{{totalPrice}}</td>
    <td style="white-space: nowrap; text-align: right">{{tax}}</td>
    <td style="white-space: nowrap; text-align: right">{{totalAfterTax}}</td>
</tr>