<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial;
            font-size: 0.9rem;
        }

        div {
            box-sizing: border-box;
        }

        #container {
            margin: auto
        }

        .w25 {
            width: 25% !important;
        }

        .w50 {
            width: 50% !important;
        }

        .w75 {
            width: 75% !important;
        }

        .w100 {
            width: 100% !important;
        }

        .float-left {
            float: left;
        }

        .clear {
            clear: both;
        }

        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th {
            padding: .1cm;
            background-color: yellow
        }

        td {
            height: 1cm;
            padding: .1cm;
        }

        @page {
            size: auto;
            margin: 0;
        }
    </style>
</head>

<body>
    <div id="container">
        <div style="width: 66%;" class="float-left">
            <b>CÔNG TY CỔ PHẦN LD HƯỚNG DƯƠNG MACHIDA GAS</b> <br><br>
            81 Phạm Thế Hiển, Phường 2, Quận 8, TP. Hồ Chí Minh
        </div>
        <div style="width: 20%; text-align: right" class="float-left">
            Số HĐ: {{receipt-number}}
        </div>
        <div class="clear"></div>
        <div style="width: 30%" class="float-left">
            &nbsp;
        </div>
        <div class="w50 float-left" style="text-align: center">
            <b style="font-size: 1.5em">BẢNG KÊ BÁN LẺ</b> <br><br>
            <b>
                Ngày &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{day}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                tháng &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{month}}&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                năm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{year}}
            </b>
        </div>
        <div class="clear"></div>
        <div class="float-left">
            <b>Người Mua&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Khách hàng Công Ty</b>
        </div>
        <div class="clear"></div>
        <div class="float-left" style="width: 100%;">
            &nbsp;
        </div>
        <div class="clear"></div>
        
        <div class="w100" style="margin-top: 1em;">
            <table style="width: 100%; margin: auto; border: none">
                <tbody>
                <tr>
                    <td style="width: 4.7%; border: none"></td>
                    <td style="width: 9.5%; border: none"></td>
                    <td style="width: 26.6%; border: none"></td>
                    <td style="width: 13.5%; border: none"></td>
                    <td style="width: 2.8%; border: none; text-align: center">{{sum-qty}}</td>
                    <td style="width: 7.5%; border: none; text-align: right"></td>
                    <td style="width: 4.8%; border: none"></td>
                    <td style="width: 7.5%; border: none; text-align: right">{{sum-all}}</td>
                    <td style="width: 23.1%; border: none"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w100" style="margin-top: 0;">
            <table style="width: 100%; margin: auto">
                <thead>
                    <tr>
                        <th style="width: 4.7%">NGÀY</th>
                        <th style="width: 9.5%">TÊN KH</th>
                        <th style="width: 26.6%">ĐỊA CHỈ</th>
                        <th style="width: 13.5%">TÊN HÀNG</th>
                        <th style="width: 2.8%">SỐ LƯỢNG</th>
                        <th style="width: 7.5%">GIÁ CHƯA VAT</th>
                        <th style="width: 4.8%">10%</th>
                        <th style="width: 7.5%">THÀNH TIỀN</th>
                        <th style="width: 23.1%">GHI CHÚ</th>
                    </tr>
                </thead>
                <tbody>
                    {{table-data}}
                </tbody>
            </table>
        </div>
        <div class="clear" style="page-break-before: avoid; page-break-inside: avoid;">
            <div class="float-left" style="width: 70%;">
                &nbsp;
            </div>
            <div class="float-left" style="width: 30%; text-align: center; page-break-before: avoid; page-break-inside: avoid;">
                <br><br>
                <b>Người Lập</b>
                <br><br><br><br><br>
                <b>Hồ Kim Phong</b>
            </div>
        </div>
    </div>
</body>

</html>